.formed {
  width: 60vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  padding: 5vw;
  padding-top: 1.8vw;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
}

.inliner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.particular {
  margin-top: 1vw;
}

.para {
  text-align: start;
  margin-left: 0.4vw;
}

.parsed {
  text-align: start;
  margin-left: 2.4vw;
}

.inputSpace {
  width: 45vw;
  border-radius: 0.3vw;
  border: 0.1vw solid;
  padding: 0.2vw;
}

.inputHalf {
  width: 22vw;
  margin: 0.5vw;
  border-radius: 0.3vw;
  border: 0.1vw solid;
  padding: 0.2vw;
}

.poster {
  height: 99.9vh;
  width: 40vw;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: row;
}

.formSpace {
  margin-top: 4.8vh;
}

.button {
  margin-top: 2.5vw;
}

.but {
  width: 45vw;
  padding: 0.8vw;
  border: none;
  border-radius: 0.3vw;
  color: white;
  background-color: black;
}

@media (max-width: 700px) {
  .poster {
    display: none;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25vw;
    padding-top: 7vh;
  }
  .formed {
    margin-left: 20vw;
  }
}

@media(701px <= width <=991px){
    .formSpace{
        padding-top: 15vh;
    }
}
