.division{
    position: absolute;
    height: 73.5vh;
    width: 99vw;
}
.respective{
    height: 73.5vh;
    width: 99vw;
}

@media (701px <= width <= 990px){
    .division{
        width: 100%;
        height: 40vh;
    }
    .respective{
        width: 100%;
        height: 40vh;
    }
}

@media (max-width: 700px){
    .division{
        width: 100%;
        height: 27vh;
    }
    .respective{
        width: 100%;
        height: 27vh;
    }
}

